<div class="container-fluid">
    <div class="row">
      
      <div class="col-12 col-sm-4 col-md-3 bg-light sidebar">
        <div class="sidebar-sticky">
          <h4 class="sidebar-heading">Generator listy</h4>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="inputEAN" placeholder="Wprowadź EAN" name="ean" [(ngModel)]="item.ean" [(readonly)]="iEreadonly" autofocus>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" id="inputQuantity" placeholder="Wprowadź ilość" name="quantity" [(ngModel)]="item.quantity" [(readonly)]="iQreadonly">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="oneByOne" [(checked)]="oboChecked">
                <label class="form-check-label" for="oneByOne">
                  Wprowadzać po jednej sztuce?
                </label>
              </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Dodaj" (click)="addItem()">
          </form>
          
          <div id="stats">
            <p>Ilość pozycji: {{ articels.length }}</p>
          </div>
        </div>
      </div>

      <main role="main" class="col-12 col-sm-8 ml-auto col-md-9 pt-3 px-4">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Lp.</th>
                <th scope="col">Wprowadzony EAN</th>
                <th scope="col">Ilość</th>
              </tr>
            </thead>
            <tbody>
              <tr id="pos{{i}}" *ngFor="let articel of articels; let i = index" (click)="editItem(i)">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ articel.ean }}</td>
                <td>{{ articel.quantity }}</td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm" (click)="removeItem(i)">X</button>
                </td>
              </tr>
            </tbody>
          </table>
      </main>
    </div>
  </div>
